.header {
  min-width: 100%;
  min-height: 620px; }
  .header__top {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .header__top img {
      width: 128px; }
    .header__top__button_container__button {
      cursor: pointer;
      color: #d69e2e;
      margin-left: 0.5 rem;
      margin-right: 0.5 rem;
      background-color: transparent;
      border: 1 px solid #f9ae17;
      box-sizing: border-box;
      border-radius: 6 px; }
      .header__top__button_container__button_yellow {
        cursor: pointer;
        color: #000;
        margin-left: 0.5 rem;
        margin-right: 0.5 rem;
        background: #f9ae17;
        border-radius: 6 px; }
  .header__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .header__bottom__text {
      max-width: 28rem; }

.connect {
  min-width: 100%;
  min-height: 620px; }
  .connect__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .connect__main__text {
      text-align: right;
      max-width: 448px; }

.pools {
  min-width: 100%;
  max-height: 452px; }
  .pools__main {
    position: relative;
    top: -126px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .pools__main__image-container {
      z-index: 10; }
      .pools__main__image-container__mobile_image {
        display: none; }
      .pools__main__image-container__desktop_image {
        max-width: 512px;
        z-index: 10; }
    .pools__main__text {
      max-width: 448px; }

.challenges {
  min-width: 100%;
  min-height: 452px; }
